table#datatablesSimple
    thead
        tr
            th Segment
            th SubID
            th Price
            th Items
    tfoot
        tr
            th Segment
            th SubID
            th Price
            th Items
    tbody
        tr
            th
                select.form-select
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
            th Dolphins
            th $49.99
            th
                .row.text-list Nov_2022_currency_multi x 10
                .row.text-list Nov_2022_gems_multi x 1000
                .row.text-list Nov_2022_shards_multi x 100
                .row.icn-row
                    .col
                        .input.btn.btn-secondary
                            i.fas.fa-add
        tr
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
            th Tune
            th $24.99
            th
                .row.text-list Nov_2022_currency_multi x 10
                .row.text-list Nov_2022_gems_multi x 100
                .row.icn-row
                    .col
                        .input.btn.btn-secondary
                            i.fas.fa-add
        tr
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option(selected) A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
            th Nemo
            th $10.99
            th
                .row.text-list Nov_2022_gems_multi x 100
                .row.icn-row
                    .col
                        .input.btn.btn-secondary
                            i.fas.fa-add
        tr
            th
                select.form-select
                    option A4R5-XXXX-YYYY-ZZZZ - Dolphins
                    option A4R5-XXXX-YYYY-ZZZZ - Tuna
                    option A4R5-XXXX-YYYY-ZZZZ - Nemo
                    option(selected) A4R5-VVVV-WWWW-XXXX - Dory
                    option A4R5-WWWW-XXXX-YYYY - Turtle
            th Dory
            th $0.99
            th
                .row.icn-row
                    .col
                        .input.btn.btn-secondary
                            i.fas.fa-add
        tr(style="background-color:#e9ecef;border-top-width:2px")
            th(colspan="100%")
                .row.icn-row
                    .col 
                        .input.btn.btn-primary Predict
                    .col
                        .input.btn.btn-secondary Add