
include mixins/backgrounds-dropdown.pug
include mixins/localizations-dropdown.pug

// Schedule
.col-md-5
    label.form-label Schedule
    .input-group
        input.form-control(disabled, value="MM/DD/YYYY HH:MM - MM/DD/YYYY HH:MM")
        span.input-group-text
            i.fas.fa-calendar
.col-md-1.align-self-end
    input.btn.btn-primary.btn-offer-predict(type='button', value='Create / Edit', data-bs-toggle="modal" data-bs-target="#scheduleCreateModal")
.col-md-6

// Art preview
.col-md-6
    .row
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Store Image ID
            +assets-dropdown(0)
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Store Image Name
            +localizations-dropdown(0)
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Store Image Description
            +localizations-dropdown(0)
        .col-md-6
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Description
            +localizations-dropdown(0)
        .col-md-6
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Background Image ID
            +backgrounds-dropdown(3)
        .col-md-6(style="margin-top: 12px; margin-bottom:8px")
            label.form-label Background Image Description
            +localizations-dropdown(0)
.col-md-3
    label.form-label Image Preview
    img(src="assets/img/Ad_Sociall9l-768x402.png" class="img-thumbnail")