
include mixins/backgrounds-dropdown.pug

// Row 5
.col-md-5
    label.form-label Schedule
    .input-group
        input.form-control(disabled, value="MM/DD/YYYY HH:MM - MM/DD/YYYY HH:MM")
        span.input-group-text
            i.fas.fa-calendar
.col-md-1.align-self-end
    input.btn.btn-primary.btn-offer-predict(type='button', value='Create / Edit', data-bs-toggle="modal" data-bs-target="#scheduleCreateModal")
.col-md-6

// Art preview
.col-md-6
    .row
        .col-md-10
            label.form-label Store Image ID
            input.form-control(value="Nov 2022 section")
        .col-md-2.align-self-end
            input.btn.btn-primary.btn-offer-predict(type='button', value='Search')
    .row 
        .form-group(style="margin-top: 12px")
            label.form-label Store Image Description
            textarea.form-control(rows=4)
                | Nov 2022 section
                | with description
                | and more data
    .row
        .col-md-12
            label(style="margin-top: 12px; margin-bottom:8px") Background Image ID
            +backgrounds-dropdown(3)
    .row 
        .form-group(style="margin-top: 12px")
            label.form-label Background Image Description
            textarea.form-control(rows=4)
                | My favourite background
                | with description
                | and more background data
.col-md-3
    label.form-label Image Preview
    img(src="assets/img/Ad_Sociall9l-768x402.png" class="img-thumbnail")