
.col-md-3
    label.form-label Offer ID
    input.form-control(value="OFFER_WXYZ_NOV_2022")
.col-md-3
    label.form-label Platform
    select.form-select
        option(selected) Mobile 
        option Web
        option Both
.col-md-3
    label.form-label Gate ID
    select.form-select
        option(selected) Select a gate
        option r50_staging
        option r45_liveops
        option r45_live
        option r50_development
.col-md-3
    label.form-label Global Offer
    .form-check.form-switch
        input.form-check-input(type="checkbox", role="switch")
        label.form-label Enable


// Row 3
.col-md-2
    label.form-label Stock
    input.form-control(type="number", min="1", max="10000", value="")

// Row 4
.col-md-2
    label.form-label Offer Type
    select.form-select
        option(selected) Select an offer type
        option Standard
        option Cash Contract
        option Hard Currency Sale
        option Step Up
        option Facebook Connect
        option Alternative Currency
.col-md-2
    label.form-label Offer Weight
    input.form-control(value="")
.col-md-2
    label.form-label Offer Section
    select.form-select
        option(selected) Select an offer section
        option R37_Section_Enhance_Superstar
        option Section_Starter_Pack
        option Section_LTEs
        option Section_Daily_Deals
        option Section_Champions_Club
        option Section_Shane_O_Mac
        option R37_Section_Charging
.col-md-2
    label.form-label Combo Type
    select.form-select
        option(selected) Select a combo type
        option combo 1
        option combo 2