
// schedule creation modal           
.modal.fade(tabindex="-1", aria-labelledby="scheduleCreateModalLabel" aria-hidden="true")#scheduleCreateModal
    .modal-dialog.modal-lg
        .modal-content 
            .modal-header
                h5.modal-title Create schedule
                input.btn.btn-close(data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                row 
                    form.row.g-3
                        .col-md-10
                            .input-group
                                input.form-control(disabled, value="10/15/2022 00:00 - 10/22/2022 23:00")
                                .input-group-append
                                    button.btn.btn-outline-secondary(type="button", id="datePicker", name="datePicker") Edit
                        .col-md-1
                            <button type="button" class="btn btn-primary btn-offer-predict">
                                i.fas.fa-plus
                            </button>
                        .col-md-1
                            <button type="button" class="btn btn-danger btn-offer-predict">
                                i.fas.fa-minus
                            </button>
                        .col-md-10
                            .input-group
                                input.form-control(disabled, value="11/15/2022 00:00 - 11/22/2022 23:00")
                                .input-group-append
                                    button.btn.btn-outline-secondary(type="button", id="datePicker", name="datePicker") Edit
                        .col-md-1
                            <button type="button" class="btn btn-primary btn-offer-predict">
                                i.fas.fa-plus
                            </button>
                        .col-md-1
                            <button type="button" class="btn btn-danger btn-offer-predict">
                                i.fas.fa-minus
                            </button>

            .modal-footer
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create</button>              

            