extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'New Offers';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug
        include includes/mixins/segments-dropdown.pug
        include includes/mixins/backgrounds-dropdown.pug
        include includes/mixins/bundles-dropdown.pug
        include includes/modals/bundle-creation.pug
        include includes/modals/schedule-creation.pug
    
        .row 
            form.row.g-3
                // Edit offers main data
                include includes/edit-offers-main

                // Edit offers single
                .col-md-3
                    label.form-label Segment ID
                    +segments-dropdown(0)
                .col-md-1.align-self-end
                    input.btn.btn-primary.btn-offer-predict(type='button', value='Predict')
                .col-md-2 
                    label.form-label Price SKU
                    select.form-select
                        option(selected) Select a price
                        option $24.99
                        option $0.99
                        option $4.99
                        option $10.99
                        option $49.99
                .col-md-3
                    label.form-label Item Bundle ID
                    +bundles-dropdown(1)
                .col-md-1.align-self-end
                    input.btn.btn-primary.btn-offer-predict(type='button', value='Edit', data-bs-toggle="modal" data-bs-target="#bundleCreateModal")
                .col-md-2
                .col-md-2
                    label.form-label Value
                    .input-group
                        input.form-control(disabled, value="$ 100.00")
                .col-md-10

                // Edit offers secondary data
                include includes/edit-offers-secondary.pug

                // Create offer button
                .row
                    .col-md-2
                        a(href='offers-with-new.html')
                            input.btn.btn-success.btn-offer-predict(type='button', value='Create Offer', style="margin-top: 10px; margin-bottom: 10px")

