extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'New Offers';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content
    .container-fluid.px-4
        include includes/page-header.pug
        include includes/mixins/segments-dropdown.pug
        include includes/mixins/item-bundle.pug
        include includes/mixins/backgrounds-dropdown.pug
        include includes/mixins/prices-dropdown.pug
        include includes/mixins/edit-offers-main.pug
        include includes/mixins/edit-offers-advanced.pug
        include includes/modals/schedule-creation.pug

        .row 
            form.row.g-3
                // Edit offers main data
                +edit-offers-main('offers-new-predict.html')

                .col-md-3
                    label.form-label Segment ID
                    +segments-dropdown(0)
                .col-md-1.align-self-end
                    a(href="offers-new-predict.html")
                        input.btn.btn-primary.btn-offer-predict(type='button', value='Predict')
                .col-md-12

                // Edit advanced collapsible data
                .div(style="margin-top:1rem")
                    +edit-offers-advanced

                // Create offer button
                .row
                    .col-md-2
                        a(href='offers-with-new.html')
                            input.btn.btn-success.btn-offer-predict(type='button', value='Create Offer', style="margin-top: 10px; margin-bottom: 10px")

append scripts
    //- Load Collapse Scripts
    script(src='js/collapse.js')