extends ../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Offers Batch';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'
    
prepend css
    //- Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css', rel='stylesheet')

block content
    .container-fluid.px-4
        include includes/page-header.pug
        include includes/modals/schedule-creation.pug
        include includes/mixins/batch-datatable.pug
        include includes/mixins/item-bundle.pug
        include includes/mixins/edit-offers-main.pug
        include includes/mixins/edit-offers-advanced.pug
        
        // Common fields
        .row
            form.row.g-3
                +edit-offers-main("offers-batch-predict.html", 1, 1, 1)

                // Datatable
                .col-md-12(style="margin-top:2rem")
                    .card.mb-4
                        .card-body
                            +batch-datatable(true)

                +edit-offers-advanced(true)

        // Create offer button
        .row
            .col-md-2
                a(href='offers-with-batch.html')
                    input.btn.btn-success.btn-offer-predict(type='button', value='Create Offers', style="margin-top: 10px; margin-bottom: 10px")

append scripts    
    //- Load Simple DataTables Scripts
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@latest', crossorigin='anonymous')
    script(src='js/datatables-simple-demo.js')
    script(src='js/collapse.js')