
mixin assets-dropdown(selectedID, disabled=false)
    select.form-select(disabled=disabled)
        option(selected=(selectedID==0)) Select an asset
        option(selected=(selectedID==1)) UI/Tokens/UI_Token_Red_Sec_01
        option(selected=(selectedID==2)) UI/StoreV1/UI_Token_Purple_Sec_01
        option(selected=(selectedID==3)) UI/StoreV2/OfferImages/More_Items
        option(selected=(selectedID==4)) UI/Tokens/UI_Token_Black_Sec_01