
mixin backgrounds-dropdown(selectedID)
    select.form-select
        option(selected=(selectedID==0)) Select a background
        option(selected=(selectedID==1)) UI/StoreV2/OfferBGs/Offer_Single3_WT0922_Show_Blank_Premium
        option(selected=(selectedID==2)) UI/StoreV2/OfferBGs/Offer_Prizewall_WMU_Premium
        option(selected=(selectedID==3)) UI/StoreV2/OfferBGs/Offer_Banner_MOTU_UniCol_Pack_Jumpstart_100
        option(selected=(selectedID==4)) UI/StoreV2/OfferBGs/Offer_Banner_JohnnyGargano_Event