mixin bundles-dropdown(selectedID)
    select.form-select
        option(selected=(selectedID == 0)) Select a bundle
        option(selected=(selectedID == 1)) id_12345 - Nov_2022_token_multi
        option(selected=(selectedID == 2)) id_67890 - Nov_2022_currency_multi
        option(selected=(selectedID == 3)) id_23456 - Nov_2022_gems_multi
        option(selected=(selectedID == 4)) id_78901 - Nov_2022_shards_multi
